*.vs
*.vscode
*.suo
*.user
*.sln.docstates
*.github
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
*.nupkg
packages/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
_ReSharper*/
*.[Rr]e[Ss]harper
*.dotCover
*_teamcity_*
[Ee]xpress/
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
publish/
*.Publish.xml
*.pubxml
*.deploy
csx
*.build.csdef
ecf/
rcf/
AppPackages/
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*.dbmdl
Generated_Code #added for RIA/Silverlight projects
UpgradeLog.XML
_UpgradeReport_Files/